Repository johanhoffman/DD2363_VT21, changes with the owners that CODEOWNERS names for each.
All owners: @johanhoffman, @ChrillePille, @Diracturing, @Hilaire-Bouaddi, @jacwah, @joakieri, @kevinarnmark, @lions-roar, @matert, @mirjaj, @Sanskar95, @szaboda, @theoahfeldt, @YinengWang

Added Lab 7
  Lab_7/Sanskar95_Lab7.ipynb
Owners: @Sanskar95

Lab 7 done
  Lab_7/jacwah_lab7.ipynb
Owners: @jacwah

Created using Colaboratory
  Lab_7/Lab7_YinengWang.ipynb
Owners: @YinengWang

Created using Colaboratory
  Lab_7/Lab7_YinengWang.ipynb
Owners: @YinengWang

Lab 7
  Lab_7/kevinarnmark_lab7.ipynb
Owners: @kevinarnmark

Skapad med Colaboratory
  LeoBergman_Lab8.ipynb
Owners: @johanhoffman

lab7
  Lab_7/lab-7.ipynb
Owners: @johanhoffman

CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @johanhoffman will be requested for
# review when someone opens a pull request.
*       @johanhoffman

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies files with a username as part of the filename, 
# only the owner with that username and not the global
# owner(s) will be requested for a review.
*ChrillePille*        @ChrillePille
*Diracturing*         @Diracturing
*Hilaire-Bouaddi*     @Hilaire-Bouaddi
*jacwah*              @jacwah
*joakieri*            @joakieri
*kevinarnmark*        @kevinarnmark
*lions-roar*          @lions-roar
*matert*              @matert
*mirjaj*              @mirjaj
*Sanskar95*           @Sanskar95
*szaboda*             @szaboda
*theoahfeldt*         @theoahfeldt
*YinengWang*          @YinengWang
