Repository johanhoffman/DD2363_VT21, changes with the owners that CODEOWNERS names for each.
All owners: @johanhoffman, @ChrillePille, @Diracturing, @Hilaire-Bouaddi, @jacwah, @joakieri, @kevinarnmark, @lions-roar, @matert, @mirjaj, @Sanskar95, @szaboda, @theoahfeldt, @YinengWang

Complete lab 4
  Lab_4/theoahfeldt_lab4.ipynb
Owners: @theoahfeldt

lab4
  Lab_4/lab-4.ipynb
Owners: @johanhoffman

Finished lab 4
  Lab_4/jacwah_lab4.ipynb
Owners: @jacwah

Skapad med Colaboratory
  LeoBergman_Lab4_poisson.ipynb
Owners: @johanhoffman

Skapad med Colaboratory
  LeoBergman_Lab4_poisson.ipynb
Owners: @johanhoffman

Lab 4
  Lab_4/kevinarnmark_lab4.ipynb
Owners: @kevinarnmark

Added lab 5 ipnyb
  Lab_5/Sanskar95_Lab5.ipynb
Owners: @Sanskar95

Lab5
  Lab_5/.ipynb_checkpoints/matax_lab5-checkpoint.ipynb
  Lab_5/matax_lab5.ipynb
Owners: @johanhoffman

Complete lab 5
  Lab_5/theoahfeldt_lab5.ipynb
Owners: @theoahfeldt

Created using Colaboratory
  Lab_5/Lab5_YinengWang.ipynb
Owners: @YinengWang

Created using Colaboratory
  Lab_5/Lab5_YinengWang.ipynb
Owners: @YinengWang

Minor fix
  Lab_5/Lab5_YinengWang.ipynb
Owners: @YinengWang

Update Gauss-quadrature 3 point function
  Lab_5/Lab5_YinengWang.ipynb
Owners: @YinengWang

Update tests for MC
  Lab_5/Lab5_YinengWang.ipynb
Owners: @YinengWang

Lab 5 done
  Lab_5/jacwah_lab5.ipynb
Owners: @jacwah

Skapad med Colaboratory
  LeoBergman_Lab5.ipynb
Owners: @johanhoffman

lab 5 submission
  Lab_5/szaboda_lab5.ipynb
Owners: @szaboda

lab 5
  Lab_5/lab-5.ipynb
Owners: @johanhoffman

Created using Colaboratory
  Lab_5/Diracturing_lab5.ipynb
Owners: @Diracturing

Lab 5
  Lab_5/kevinarnmark_lab5.ipynb
Owners: @kevinarnmark

Created using Colaboratory
  template-report-Navier-Stokes.ipynb
Owners: @johanhoffman

Created using Colaboratory
  template-report-Heat.ipynb
Owners: @johanhoffman

Created using Colaboratory
  template-report-Poisson.ipynb
Owners: @johanhoffman

Added Lab 6 ipnyb
  Lab_6/Sanskar95_Lab6.ipynb
Owners: @Sanskar95

lab 6
  Lab_6/lab-6.ipynb
Owners: @johanhoffman

Complete lab 6
  Lab_6/theoahfeldt_lab6.ipynb
Owners: @theoahfeldt

Created using Colaboratory
  Lab_6/Diracturing_lab6.ipynb
Owners: @Diracturing

Created using Colaboratory
  template-report-Poisson.ipynb
Owners: @johanhoffman

Lab 6 submission
  Lab_6/szaboda_lab6.ipynb
Owners: @szaboda

Lab 6 done
  Lab_6/jacwah_lab6.ipynb
Owners: @jacwah

Created using Colaboratory
  Lab_6/Lab6_YinengWang.ipynb
Owners: @YinengWang

Add accuracy tests
  Lab_6/Lab6_YinengWang.ipynb
Owners: @YinengWang

Lab 6
  Lab_6/kevinarnmark_lab6.ipynb
Owners: @kevinarnmark

Lab 7 task 1
  Lab_7/jacwah_lab7.ipynb
Owners: @jacwah

Lab 6
  Lab_6/.ipynb_checkpoints/matax_lab6-checkpoint.ipynb
  Lab_6/matax_lab6.ipynb
Owners: @johanhoffman

Skapad med Colaboratory
  LeoBergman_Lab6.ipynb
Owners: @johanhoffman

Created using Colaboratory
  Lab_7/Diracturing_lab7.ipynb
Owners: @Diracturing

Lab 7 submission
  Lab_7/szaboda_lab7.ipynb
Owners: @szaboda

Lab7
  Lab_7/.ipynb_checkpoints/matax_lab7-checkpoint.ipynb
  Lab_7/matax_lab7.ipynb
Owners: @johanhoffman

Complete lab 7
  Lab_7/theoahfeldt_lab7.ipynb
Owners: @theoahfeldt

CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @johanhoffman will be requested for
# review when someone opens a pull request.
*       @johanhoffman

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies files with a username as part of the filename, 
# only the owner with that username and not the global
# owner(s) will be requested for a review.
*ChrillePille*        @ChrillePille
*Diracturing*         @Diracturing
*Hilaire-Bouaddi*     @Hilaire-Bouaddi
*jacwah*              @jacwah
*joakieri*            @joakieri
*kevinarnmark*        @kevinarnmark
*lions-roar*          @lions-roar
*matert*              @matert
*mirjaj*              @mirjaj
*Sanskar95*           @Sanskar95
*szaboda*             @szaboda
*theoahfeldt*         @theoahfeldt
*YinengWang*          @YinengWang
