Repository johanhoffman/DD2363_VT21, changes with the owners that CODEOWNERS names for each.
All owners: @johanhoffman, @ChrillePille, @Diracturing, @Hilaire-Bouaddi, @jacwah, @joakieri, @kevinarnmark, @lions-roar, @matert, @mirjaj, @Sanskar95, @szaboda, @theoahfeldt, @YinengWang

Skapad med Colaboratory
  LeoBergman_Lab2.ipynb
Owners: @johanhoffman

Created using Colaboratory
  Lab_2/ChrillePille_Lab2.ipynb
Owners: @ChrillePille

Complete lab 2
  Lab_2/theoahfeldt_lab2.ipynb
Owners: @theoahfeldt

Skapad med Colaboratory
  LeoBergman_Lab2.ipynb
Owners: @johanhoffman

Rerun for consistency
  Lab_2/theoahfeldt_lab2.ipynb
Owners: @theoahfeldt

Revert "03/02 morning 3.1 "
  Lab_2/lab2_bouaddi.ipynb
Owners: @johanhoffman

lab 2
  Lab_2/lab2_bouaddi.ipynb
Owners: @johanhoffman

Created using Colaboratory
  Lab_2/Lab2_YinengWang.ipynb
Owners: @YinengWang

Finished lab 2
  Lab_2/joakieri_lab2.ipynb
Owners: @joakieri

Created using Colaboratory
  template-report-Navier-Stokes.ipynb
Owners: @johanhoffman

Created using Colaboratory
  template-report-Navier-Stokes.ipynb
Owners: @johanhoffman

Created using Colaboratory
  template-report-Heat.ipynb
Owners: @johanhoffman

Created using Colaboratory
  template-report-Heat.ipynb
Owners: @johanhoffman

Created using Colaboratory
  Lab_3/Diracturing_lab3.ipynb
Owners: @Diracturing

lab 3
  Lab_3/lab3.ipynb
Owners: @johanhoffman

Lab3 submission
  Lab_3/szaboda_lab3.ipynb
Owners: @szaboda

Created using Colaboratory
  template-report-Heat.ipynb
Owners: @johanhoffman

Update template-report-Heat.ipynb
  template-report-Heat.ipynb
Owners: @johanhoffman

Created using Colaboratory
  template-report-Poisson.ipynb
Owners: @johanhoffman

Update template-report-Poisson.ipynb
  template-report-Poisson.ipynb
Owners: @johanhoffman

Created using Colaboratory
  template-report-Poisson.ipynb
Owners: @johanhoffman

Created using Colaboratory
  template-report-Heat.ipynb
Owners: @johanhoffman

Created using Colaboratory
  template-report-Poisson.ipynb
Owners: @johanhoffman

Lab 3 done
  Lab_3/jacwah_lab3.ipynb
Owners: @jacwah

Lab 3
  Lab_3/.ipynb_checkpoints/matax_lab3-checkpoint.ipynb
  Lab_3/matax_lab3.ipynb
Owners: @johanhoffman

Added Lab 3
  Lab_3/Sanskar95_Lab3.ipynb
Owners: @Sanskar95

Fixed Introduction
  Lab_3/Sanskar95_Lab3.ipynb
Owners: @Sanskar95

Created using Colaboratory
  Lab_3/lab3_YinengWang.ipynb
Owners: @YinengWang

Complete lab 3
  Lab_3/theoahfeldt_lab3.ipynb
Owners: @theoahfeldt

Created using Colaboratory
  Lab_3/ChrillePille_Lab3.ipynb
Owners: @ChrillePille

Skapad med Colaboratory
  LeoBergman_Lab3.ipynb
Owners: @johanhoffman

Skapad med Colaboratory
  LeoBergman_Lab3.ipynb
Owners: @johanhoffman

Lab 3
  Lab_3/kevinarnmark_lab3.ipynb
Owners: @kevinarnmark

Lab 4 submission
  Lab_4/szaboda_lab4.ipynb
Owners: @szaboda

Created using Colaboratory
  Lab_4/Diracturing_lab4.ipynb
Owners: @Diracturing

Created using Colaboratory
  Lab_4/Lab4_YinengWang.ipynb
Owners: @YinengWang

Added lab 4 (function approximation)
  Lab_4/Sanskar95_Lab4.ipynb
Owners: @Sanskar95

Add working L2 projection
  Lab_4/theoahfeldt_lab4.ipynb
Owners: @theoahfeldt

Lab 4
  Lab_4/.ipynb_checkpoints/matax_lab4-checkpoint.ipynb
  Lab_4/matax_lab4.ipynb
Owners: @johanhoffman

Updated lab 4
  Lab_4/Lab4_YinengWang.ipynb
Owners: @YinengWang

CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @johanhoffman will be requested for
# review when someone opens a pull request.
*       @johanhoffman

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies files with a username as part of the filename, 
# only the owner with that username and not the global
# owner(s) will be requested for a review.
*ChrillePille*        @ChrillePille
*Diracturing*         @Diracturing
*Hilaire-Bouaddi*     @Hilaire-Bouaddi
*jacwah*              @jacwah
*joakieri*            @joakieri
*kevinarnmark*        @kevinarnmark
*lions-roar*          @lions-roar
*matert*              @matert
*mirjaj*              @mirjaj
*Sanskar95*           @Sanskar95
*szaboda*             @szaboda
*theoahfeldt*         @theoahfeldt
*YinengWang*          @YinengWang
